.education {
  display: flex;
  justify-content: center;
}

.education__header {
  text-align: center;
  padding: 30px;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(24, 33, 83);
}

.education__dates {
  display: flex;
  flex-direction: column;
  gap: 130px;
  border-right: 1px solid rgb(241, 241, 241);
  padding-right: 60px;
  width: 350px;
  text-align: right;
}

.education__date {
  opacity: 0;
  color: rgb(24, 33, 83);
}

.education__date_active {
  opacity: 1;
}

.education__works {
  padding: 50px;
  display: flex;
  gap: 60px;
  margin-left: 200px;
}

.education__abouts {
  width: 500px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  color: rgb(24, 33, 83);
}

.education__about {
  transform: translateX(100px);
  opacity: 0;
}

.education__about_active {
  transform: translateX(0);
  opacity: 1;
}

.education__about_header {
  font-size: 18px;
  font-weight: 900;
}

.education__circle {
  width: 10px;
  height: 10px;
  background-color: rgb(24, 33, 83);
  border-radius: 50%;
  position: absolute;
  left: -65px;
}

.education__circle_1 {
  transform: translateY(50px);
}

.education__circle_active1 {
  transform: translateY(6px);
}

.education__circle_2 {
  transform: translateY(270px);
}

.education__circle_active2 {
  transform: translateY(157px);
}

@media only screen and (max-width: 1250px) {
  .education__works {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1110px) {
  .education__about_text {
    font-size: 12px;
    width: 400px;
  }

  .education__about_header {
    font-size: 14px;
  }

  .education__date h3 {
    font-size: 14px;
  }

  .education__date p {
    font-size: 12px;
  }

  .education__dates {
    gap: 138px;
  }

  .education__works {
    /* margin-left: -50px; */
    padding: 50px 0;
  }
}

@media only screen and (max-width: 900px) {
  .education__about {
    transform: translateX(200px);
  }

  .education__about_active {
    transform: translateX(100px);
  }

  .education__about_text {
    font-size: 16px;
    margin-top: 10px;
  }

  .education__about_header {
    font-size: 20px;
  }

  .education__works {
    margin-left: -100px;
  }
}

@media only screen and (max-width: 650px) {
  .education__about {
    transform: translate(100px, 100px) !important;
  }

  .education__about_active {
    transform: translate(100px, 0) !important;
  }

  .education__abouts {
    width: 350px !important;
  }

  .education__works {
    margin-left: -100px;
  }
}

@media only screen and (max-width: 450px) {
  .education__about {
    width: 300px;
  }

  .education__about_header {
    width: 80%;
  }

  .education__about_text {
    width: 80%;
  }

  .education__works {
    margin-left: -150px;
  }
}

@media only screen and (max-width: 650px) {
  .education__works {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 380px) {
  .education__works {
    width: 320px;
  }
}