.about_me {
  padding: 180px 0 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: rgb(241, 241, 241);
  color: rgb(24, 33, 83);
}

.about_me__text {
  width: 500px;
  text-align: center;
  line-height: 30px;
}

@media only screen and (max-width: 650px) {
  .about_me {
    padding: 290px 0 90px;
  }

  .about_me__text {
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .about_me {
    padding: 290px 0 60px;
  }
}